@use "./animation-objects/avatar";
@use "./animation-objects/hello";

@use "./keyframes";

.scroll-container {
  position: relative;
  height: 100vh;

  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.time-line-container {
  view-timeline-name: --default-timeline;
  view-timeline-axis: block;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  container-type: inline-size;
  container-name: --scroll-container;
}

.snap-container {
  display: flex;
  flex-direction: column;
  > .snap-block {
    &:nth-child(odd) {
      background: red;
    }
    &:nth-child(even) {
      background: blue;
    }
  }
}

.snap-block {
  flex-basis: var(--length, 1);
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 10px;
}

.dum-block-container{
  width: 100%;
  height: 100vh;
  background: yellow;
  display: grid;
  grid-template-areas: "avatar hello";
  align-content: center;
  justify-items: center;
  > .avatar{
    position: relative;
    grid-area: avatar;
  }
  > .hello{
    position: relative;
    grid-area: hello;
  }
  > .dum-block{
    &:nth-child(odd){
      background: red;
    }
    &:nth-child(even){
      background: blue;
    }
  }
}

.test-time-line{
  position: absolute;
  top: 0;
  height: 100px;
  width: 0;
  background: red;
  animation: animation-test-time-line linear forwards;
  animation-timeline: --default-timeline;
  animation-range: 16.67% contain 100%;
}
@keyframes animation-test-time-line{
  to{
    width: 100px;
  }
}

.dum-block{
  height: 150px;
  width: 150px;
  background: blue;
}